.scrollable {
    &::-webkit-scrollbar{
        width: 5px;
        height: 5px;
    }
    
    &::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: rgba(229, 231, 235, 0.2);
    }
  
    &::-webkit-scrollbar-thumb {
      background: rgba(30, 41, 59, 0.2);
      border-radius: 100vh;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(51, 75, 114, 0.5);
    }
  }